# **PYTHON- DATA TYPES AND STRUCTURES**

# **Theoretical Questions**

---

1-  What are data structures, and why are they important?

- Data structures are the method of organising and storing the data, they are important because they helps in viewing data in organised manner and manipulating the data, because data is nothing if you can't view or manipulate it

2- Explain the difference between mutable and immutable data types with examples

- Main difference between mutable and immutable is that in mutable after declaration of data we can change the data, but in immutable we cannot change data once declared. Eg- Lists, set are mutable while tuples, string are immutable.

In [6]:
a= [1, 2.3, "shivam"]
a[1]= "hello" # because lists are mutable we can do this
print(a)

b= (1, 2.3, "shivam")
# b[1]= "hello"-------throws error   # because tuples are immutable it throws error
print(b)

[1, 'hello', 'shivam']
(1, 2.3, 'shivam')

3- What are the main differences between lists and tuples in Python?

- main differences between lists and tuples is that lists are mutable while tuples are immutable. ie we can change data of list while in tuples we cannot change the data
- lists are declared with [] brackets, while tuples are declared with () brackets

In [7]:
a= [1, 2.3, "shivam"]
a[1]= "hello"
print(a)

b= (1, 2.3, "shivam")
# b[1]= "hello"-------throws error
print(b)

[1, 'hello', 'shivam']
(1, 2.3, 'shivam')

4- Describe how dictionaries store data?

- dictionaries store data in the form of key, value pairs in which we can get specific values with the help of their corresponding key only.

In [10]:
dict= {"key1":"value1", "key2":"value2", "key3":"value3"}
dict["key1"]

'value1'

5-  Why might you use a set instead of a list in Python?

- set is an unordered data structure which doesnot allow duplicate values while list is an ordered which allows duplicate values in it.
- we can use set instead of list, eg- there is a column containing specific values repeating and we want to only know what are those specific values, we can use set for this

In [11]:
height= {"tall", "short", "tall", "medium", "short", "short"}
print(height)

{'short', 'medium', 'tall'}

6- What is a string in Python, and how is it different from a list?

- string is a sequence of characters that is used to represent some text, its is enclosed in single, double or triple qoutes in Python.
- string is immutable while list is mutable.

In [18]:
string1= "hello"
# string1[1]= 'q'------Throws error
print(string1)

list1= [2, 4.7, "hello", 4+5j]
list1[1]= "hi"
print(list1)

hello
[2, 'hi', 'hello', (4+5j)]

7- How do tuples ensure data integrity in Python?

- tuples are designed such a way that once data is declared, we cannot change it ahead in our code. so thoughout our process data in tuples remains in same, this way tuples ensures data integrity in Python

8- What is a hash table, and how does it relate to dictionaries in Python?

- Hash table is a data structure which uses hash function to calculate unique value for each key and stores value in internal array for quick efficiency.
- Python uses hash table to implement dictionaries data structures, which means keys stored in dictionaries should be hashable hence immutable.

9- Can lists contain different data types in Python?

- Lists are hetergenous in nature unlike arrays which are homogenous, hence lists can contain different data types in Python

In [23]:
a= [1, 4.5, "hello", True, 4+7j]
[print(type(i)) for i in a]

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

[None, None, None, None, None]

10- Explain why strings are immutable in Python?

- Strings are designed as immutable in python because it has various benefits, such as **hashable**- strings can be used to store key values in dictionaries, **increased performance**- because they are hashable, it increases efficiency in data look up

11-  What advantages do dictionaries offer over lists for certain tasks?

- **Efficiency**- dictionaries uses hashtable to store key value pairs while lists stores data sequentially, means when searching for value in dictionary has complexity O(1), while list has O(n) as it searches for value sequentially
- **large data**- when working with large data set it is preferred to use dictionary as list slows down with increase in data size.
- **key value storage**- dictionary uses key value to store data, means we can associate specific value with key, but in list value only has corresponding index, means any related data will require seperate list.

12- Describe a scenario where using a tuple would be preferable over a list?

- tuple is immutable while list are mutable.
- Scenario like storing Date of birth of a person in tuple format (date, month, year), so that it doesnot accidently get changed while running the application.

13-  How do sets handle duplicate values in Python?

- sets are designed in such a way that it only stores unique value, when we try to add duplicate value it doesn't affect the set, but when we try to add unique value it adds it to the set.

In [26]:
set1= {2, 7, "hello", "shivam", 7, "hello"}
print(set1)

set1.add("hello")  # adding duplicate
print(set1)

{'shivam', 2, 'hello', 7}
{'shivam', 2, 'hello', 7}

14- How does the “in” keyword work differently for lists and dictionaries?

- in Lists, "in" keyword searches for values present in the list.
- while in dictionaries, "in" keyword searches for keys present NOT the values corresponding to keys.

In [34]:
a= [2, 5, "hello"]
print("hello" in a)

dict= {2:"two value", "key":"value3"}
print(2 in dict)
print("two value" in dict)

True
True
False

15- Can you modify the elements of a tuple? Explain why or why not.

- No, we cannot modify elements of a tuple, because they are designed in such a way that they are immutable. hence, NOT allowing accidental modification of data.
- this immutablity feature of tuple ensures data integrity and consistency throughout the code

16- What is a nested dictionary, and give an example of its use case?

- in Nested dictionary, dictionary contains another dictionary as value.
- eg - employee data

In [40]:
emp_data= {"emp1": {"name": "shankar", "department":"IT", "salary":"50K"},
           "emp2": {"name": "sunil", "department":"HR", "salary":"55K"}}
emp_data.get("emp2").get("name")

'sunil'

17-  Describe the time complexity of accessing elements in a dictionary

- Time complexity of accessing elements in a dictionary is **O(1)**, because it uses hash funtion to map keys to value efficiently by calculating a unique index for each key in an internal array. each operation like lookup, insertion, and deletion has complexity of O(1).

18- In what situations are lists preferred over dictionaries?

- **Duplicate data**- in lists we can store duplicate data, where as in dictionary only allows unique keys, so in situations in which we need duplicates lists are preferred.
- **simple structure**- lists stores data in a simple sequential manner, where each value is stored corresponding to a integer index , situations where data is small and simple, lists are preffered.
- **ordered storage**- lists allows ordered storage of data, whereas dictionaries are unordered before Python3.7

19- Why are dictionaries considered unordered, and how does that affect data retrieval?

- before Python3.7, dictionaries doesnot maintain the order in which key value pairs are stored, hence dictionaries are considered unordered. underlining dictionary uses hash table which focuses on efficient retrieval of data instead of maintaining order,based on hash values, hash table distibutes data accross memory for efficient look up.
- To retrieve data, we need corresponding key value for effective data lookup regardless of where data is stored in memory.

20- Explain the difference between a list and a dictionary in terms of data retrieval?

- in Lists, data is stored in orderly and sequential manner corresponding to an integer index value. we can directly retrieve data coresponding to index value, while iterating through lists also, it maintains the order in which they are stored.
- in Dictionaries, data is stored in key value pairs, based on hash value data is distributed accross the internal memory, to retrieve data we can directly get it by its key value, prior to python3.7 dictiionary didnt maintain order in which they were stored.

# **Practical Questions**

---

1- Write a code to create a string with your name and print it

In [42]:
name= input("Enter you name: ")
print(f"your name is {name}")

Enter you name: shivam
your name is shivam

2- Write a code to find the length of the string "Hello World".

In [43]:
a= "Hello World"
print(len(a))

11

3- Write a code to slice the first 3 characters from the string "Python Programming".

In [46]:
b= "Python Programming"
print(b[:3])

Pyt

4- Write a code to convert the string "hello" to uppercase.

In [47]:
c= "hello"
print(c.upper())

HELLO

5- Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [48]:
text= "I like apple"
new_text= text.replace("apple", "orange")
print(new_text)

I like orange

6-  Write a code to create a list with numbers 1 to 5 and print it.

In [51]:
list1= [x for x in range(1,6)]
print(list1)

[1, 2, 3, 4, 5]

7- Write a code to append the number 10 to the list [1, 2, 3, 4].

In [52]:
list2= [1, 2, 3, 4]
list2.append(10)
print(list2)

[1, 2, 3, 4, 10]

8- Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [53]:
list3= [1, 2, 3, 4, 5]
list3.remove(3)
print(list3)

[1, 2, 4, 5]

9- Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [54]:
list4= ['a', 'b', 'c', 'd']
print(list4[1])

b

10- Write a code to reverse the list [10, 20, 30, 40, 50].

In [55]:
list5= [10, 20, 30, 40, 50]
print(list5[::-1])

[50, 40, 30, 20, 10]

11- Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [56]:
tup1= (100, 200, 300)
print(tup1)

(100, 200, 300)

12- Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [58]:
tup2= ('red', 'green', 'blue', 'yellow')
print(tup2[-2])

blue

13- Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [59]:
tup3= (10, 20, 5, 15)
print(min(tup3))

5

14- Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [61]:
tup4= ('dog', 'cat', 'rabbit')
print(tup4.index("cat"))

1

15- Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [62]:
tup5= ("orange", "apple", "kiwi")
print("kiwi" in tup5)

True

16- Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [63]:
set1= {"a", "b", "c"}
print(set1)

{'b', 'a', 'c'}

17- Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [65]:
set2= {1, 2, 3, 4, 5}
print(set2)
set2.clear()
print(set2)

{1, 2, 3, 4, 5}
set()

18- Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [66]:
set3= {1, 2, 3, 4}
set3.remove(4)
print(set3)

{1, 2, 3}

19- Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [68]:
set4= {1, 2, 3}
set5= {3, 4, 5}
print(set4 | set5)

{1, 2, 3, 4, 5}

20- Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [69]:
set6= {1, 2, 3}
set7= {2, 3, 4}
print(set6 & set7)

{2, 3}

21- Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [70]:
dict1= {"name":"shivam", "age":24, "city":"delhi"}
print(dict1)

{'name': 'shivam', 'age': 24, 'city': 'delhi'}

22- Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [71]:
dict2= {'name': 'John', 'age': 25}
dict2["country"]= "USA"
print(dict2)

{'name': 'John', 'age': 25, 'country': 'USA'}

23- Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [73]:
dict3= {'name': 'Alice', 'age': 30}
print(dict3.get("name"))
print(dict3["name"])

Alice
Alice

24- Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [74]:
dict4= {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict4.pop("age")
print(dict4)

{'name': 'Bob', 'city': 'New York'}

25- Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [75]:
dict5= {'name': 'Alice', 'city': 'Paris'}
print("city" in dict5)

True

26- Write a code to create a list, a tuple, and a dictionary, and print them all.

In [76]:
lst= ["name", 23, True, 4.7]
tup= ("name", 23, True, 4.7)
dict= {1:"first value", "key2":"value2", "key_3":"value of 3"}

print(lst)
print(tup)
print(dict)

['name', 23, True, 4.7]
('name', 23, True, 4.7)
{1: 'first value', 'key2': 'value2', 'key_3': 'value of 3'}

27- Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [86]:
import random
rand_list= []
for i in range(0,5):
  rand_list.append(random.randint(1, 101))
rand_list.sort()
print(rand_list)

[6, 38, 57, 70, 92]

28- Write a code to create a list with strings and print the element at the third index.

In [87]:
stringlist= ["apple", "orange", "banana", "pineappple", "kiwi"]
print(stringlist[3])

pineappple

29- Write a code to combine two dictionaries into one and print the result.

In [79]:
dict1= {"key1":"value1", "key2":"value2", "key3":"value3"}
dict2= {"key4":"value4", "key5":"value5"}
dict1.update(dict2)
print(dict1)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4', 'key5': 'value5'}

30- Write a code to convert a list of strings into a set.

In [81]:
stringlist= ["apple", "orange", "banana", "pineappple", "apple"]
stringset= set(stringlist)
print(stringset)

{'banana', 'apple', 'pineappple', 'orange'}